*{
    margin:0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url(../img/fundoIndex.png);
    background-size: cover;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0;
    margin-bottom: 50px;

}
#name {
    position: absolute;
    top: 21%;
    left: 15%;

}
.menu a{
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 25px;
}

.header img{
    margin-left: 25px;
}
.caixa{
    background-color: #3e3a44;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 25);
    border-radius: 30px;
    margin-left: 10%;
    margin-right: 10%;
    width: 1455px;
    margin-bottom: 100px;
    padding: 10px 0;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
}
.area1{
    background-color: #232129;
   
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 4vw;
    width: 68vw;
    height: 320px;
}
.area2{
    background-image: url(../imagem/Rectangle8.png);
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 4vw;
    width: 68vw;
    height: 320px;
}
.quadradoPreto1{
    background-color: black;
    color: #FFFFFF;
    text-align: center;
    width: 17vw;
    height: 320px;
    display: table-cell;
    vertical-align: middle;
    float: left;
}
.textoQuadrado1{
    color: #FFFFFF;
    width: 51vw;
    height: 320px;
    float: left;
}
.numero{
   margin-top: 50%;
}
.caixa img{
    width: 30px;
    height: 30px;
}
.caixa input{
    width: 300px;
    height: 50px;
    background-color: #232129;
    text-decoration: none;
    border: none;
    color: #FFFFFF;
    padding-left: 15px;
    border-radius:  10px;
   
}
.btn{
    display: flex;
    justify-content: flex-end;
}
.caixa button{
    background-color: #583D72;
    border: none;
    width: 315px;
    height: 70px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    border-radius:  40px;
    text-decoration: none;
    margin-right: 105px;
    margin-bottom: 50px;
    cursor: pointer;
}

h2{

    color: #FFFFFF;
    text-align: 39px;
    
}

label{
    color: #FFFFFF;
    width: 340;
    height: 56px;
    border-radius: 10px;
}





